@utility shadow-neo{

    box-shadow:4px 4px 0px rgba(15,23,42,1);

}

@utility shadow-neo-sm{

    box-shadow:2px 2px 0px rgba(15,23,42,1);

}

@utility bg-grid{

    background-size:40px 40px;

    background-image:

        linear-gradient(to right,#CBD5E1 1px,transparent 1px),

        linear-gradient(to bottom,#CBD5E1 1px,transparent 1px);

}